{% extends "base.html" %}

<title>{% block title %}Password Reset Complete{% endblock %}</title>

{% block nav %}

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <main>
        <div class="alert alert-info">
            <h3>Your Password Has Been Successfully Reset</h3>
            <p>You can now login</p>
            <button><a href="{% url 'login' %}">Login</a></button>
            <button><a href="{% url 'home' %}">Home</a></button>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}