{% extends "base.html" %}

<title>{% block title %}Login{% endblock %}</title>

{% block nav %}

{% endblock %}

{% block header %}
    <div>
        <h2>Reset Password</h2>
    </div>
{% endblock %}

{% block content %}
    <main>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}