{% extends "base.html" %}

<title>{% block title %}Password Reset Done{% endblock %}</title>

{% block nav %}

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <main>
        <div class="alert alert-info">
            <h3>Check Your Email</h3>
            <p>Instructions on how to reset your password have been emailed to you.</p>
            <p><strong>Please remember to check your spam folder for the email.</strong></p>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}