{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'movie_review_site/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block nav %}
    <nav class="nav-bar">
        <div>
            <form action="{% url 'search_result' %}" method="get">
                <input name="q" type="text" placeholder="Search Titles" value="{{ request.GET.q }}">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>
    {% endblock %}

    {% block header %}
    {% endblock %}

    <main>

    {% block content %}
    {% endblock %}

    </main>

    {% block footer %}
    {% endblock %}

    {% block script %}
    {% endblock %}

</body>
</html>