{% extends "base.html" %}

<title>{% block title %}Your Account{% endblock %}</title>

{% block nav %}
    <nav class="nav-bar">
        <div class="search-bar">
            {{ block.super }}
        </div>
        <ul>
            <li><a href>nav></a></li>
            <div class="dropdown">
                <li class="dropbtn"><a href="{% url 'all_movies' %}">All Movies</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'top_movies' %}">Top movies of all time</a>
                    <a href="{% url 'genres' %}">Movies by Genre</a>
                </div>
            </div>
            <li><a href>nav></a></li>
            <li><a href>nav></a></li>
            <li><a href>nav></a></li>
        </ul>
    </nav>
{% endblock %}

{% block header %}
    <div>
        <h1>Change your password</h1>
    </div>
{% endblock %}

{% block content %}
    <main>
        <div>
            <h2>Please fill out the form below to change your password</h2>
            <h2>Change your password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change password</button>
            </form>
        </div>
        <!-- Add in a forgot password button and function -->
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}