{% extends "base.html" %}

<title>{% block title %}Home{% endblock %}</title>

{% block nav %}
    <nav class="nav-bar">
        <div class="search-bar">
            {{ block.super }}
        </div>
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <div class="dropdown">
                <li class="dropbtn"><a href="{% url 'all_movies' %}">All Movies</a></li>
                <div class="dropdown-content">
                    <a href>Top 100 movies of all time</a>
                    <a href="{% url 'genres' %}">Movies by Genre</a>
                </div>
            </div>
            <li><a href></a></li>
            <li><a href>big poo></a></li>
            <li><a href="{% url 'account' %}">Account</a></li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;padding:0;cursor:pointer;font:inherit;color:inherit;">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block header %}
    <div>
        <h1>Hirsty's mega movie review site!</h1>
    </div>
{% endblock %}

{% block content %}
    <main>
        <div>
            <h2>Here is the reviews for all the movies</h2>
            <p>ALL DA FILMS</p>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}