{% extends "base.html" %}

<title>{% block title %}Login{% endblock %}</title>

{% block nav %}

{% endblock %}

{% block header %}
    <div>
        <h1>Login</h1>
    </div>
{% endblock %}

{% block content %}
    <main>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}<a href="{% url 'home' %}"> Return Home</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>

            <p>If you don't have an account yet create one here <a href="{% url 'signup' %}">Register</a></p>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}