{% extends "base.html" %}

<title>{% block title %}Update your views{% endblock %}</title>

{% block nav %}
    <nav class="nav-bar">
        <div class="search-bar">
            {{ block.super }}
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <div class="dropdown">
                <li class="dropbtn"><a href="{% url 'all_movies' %}">All Movies</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'top_movies' %}">Top movies of all time</a>
                    <a href="{% url 'genres' %}">Movies by Genre</a>
                </div>
            </div>
            <li><a href>big poo></a></li>
            <li><a href>big poo></a></li>
            <li><a href>big poo></a></li>
        </ul>
    </nav>
{% endblock %}

{% block header %}
    <div>
        <h2>Update Review</h2>
    </div>
{% endblock %}

{% block content %}
    <main>
        <div>
            <form method="post">
                <p>Update your review here</p>
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Confirm">
            </form>
        </div>    
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}