{% extends "base.html" %}

<title>{% block title %}Registration{% endblock %}</title>

{% block nav %}

{% endblock %}

{% block header %}
    <div>
        <h1>Register Here!</h1>
    </div>
{% endblock %}

{% block content %}
    <main>
        <div>
            <h2>Create an Account</h2>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>

            <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}