{% extends "base.html" %}

<title>{% block title %}Top Movies of All time{% endblock %}</title>

{% block nav %}
    <nav class="nav-bar">
        <div class="search-bar">
            {{ block.super }}
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <div class="dropdown">
                <li class="dropbtn"><a href="{% url 'all_movies' %}">All Movies</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'top_movies' %}">Top movies of all time</a>
                    <a href="{% url 'genres' %}">Movies by Genre</a>
                </div>
            </div>
            <li><a href>big poo></a></li>
            <li><a href>big poo></a></li>
            <li><a href>big poo></a></li>
        </ul>
    </nav>
{% endblock %}

{% block header %}
    <div>
        <h2>Top Movies of all time</h2>
    </div>
{% endblock %}

{% block content %}
    <div>
        <p>Films are ordered by IMDB rating, if you would like to use other filters please use them below.</p>
    </div>

    <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" value="Filter & Sort"/>
    </form>

    {% for key, value in request.GET.items %}
        {% if key != 'page' %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endif %}
    {% endfor %}

    {% for obj in object_list %}
    <div>
        <p>Title: <a href="{% url 'movie_detail' obj.title %}">{{ obj.title }}</a></p>
        <p>Runtime: {{ obj.runtime }}</p>
        <p>Released: {{ obj.release_date }}</p>
        <p>IMDB Rating: {{ obj.rating }}</p>
        <img src="{{ obj.poster_url }}" alt="{{ obj.title }}">
    </div>
    {% endfor %}

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}