{% extends "base.html" %}

<title>{% block title %}Review successful{% endblock %}</title>

{% block nav %}
    <nav class="nav-bar">
        <div class="search-bar">
            {{ block.super }}
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <div class="dropdown">
                <li class="dropbtn"><a href>big poo></a></li>
                <div class="dropdown-content">
                    <a href>big poo></a>
                </div>
            </div>
            <li><a href>big poo></a></li>
            <li><a href>big poo></a></li>
            <li><a href>big poo></a></li>
        </ul>
    </nav>
{% endblock %}

{% block header %}
    <div>
        <h1>Write your review below</h1>
    </div>
{% endblock %}
<!-- Make this to be the results of that page, say if someone searches for a genre of film bring up each -->
<!-- Add filters and sorting of results -->

{% block content %}
    <main>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Review</button>
            </form>
        </div>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <p>{{ message }}<a href="{% url 'home' %}"> Return Home</a></p>
            {% endfor %}
        </ul>
        {% endif %}
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}