{% extends "base.html" %}

<title>{% block title %}Write your review{% endblock %}</title>

{% block nav %}
    <nav class="nav-bar">
        <div class="search-bar">
            {{ block.super }}
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <div class="dropdown">
                <li class="dropbtn"><a href="{% url 'all_movies' %}">All Movies</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'top_movies' %}">Top movies of all time</a>
                    <a href="{% url 'genres' %}">Movies by Genre</a>
                </div>
            </div>
            <li><a href>big poo></a></li>
            <li><a href>big poo></a></li>
            <li><a href>big poo></a></li>
        </ul>
    </nav>
{% endblock %}

{% block header %}
    <div>
        <h1>Write your review below for {{ movie.title }}</h1>
    </div>
{% endblock %}
<!-- Make this to be the results of that page, say if someone searches for a genre of film bring up each -->
<!-- Add filters and sorting of results -->

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if not submitted %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Review</button>
        </form>
    {% else %}
        <a href="{% url 'home' %}">Return Home</a>
        <a href="{% url 'account' %}">To Your Account</a>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}